  
.card-container{
  position: relative;
  width: 300px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  height: fit-content;
}


/* .card-save{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
} */

/* 
.card-save-int{
  display: flex;
  width: 70px;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  opacity: 0.6;
}

.card-save-int > button{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
}

.card-save:hover{
  opacity: 1;
} */

.card-image{
  height: 300px;
  border-radius: 16px 16px 16px 16px;
  cursor: pointer;
}

.card-details{
  display: flex;
}

.card-user{
  padding: 0;
}

.card-title{
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

.card-author{
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.card-title:hover{
  text-decoration: underline black; 
}



.card-author:hover{
  text-decoration: underline black;
}

.card-like{
  display: flex;
  align-items: flex-start;
  gap: 5px;
  border: none;
  padding: 0px 8px;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
}

.card-view{
  display: flex;
  align-items: flex-start;
  gap: 5px;
  justify-content: center;
  padding: 0px 8px;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
}